<?xml version="1.0"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">
<web-app>
	<context-param>
		<param-name>root</param-name>
		<param-value>${project.build.directory}/../workdir</param-value>
	</context-param>

	<servlet>
		<servlet-name>ledge</servlet-name>
		<servlet-class>org.objectledge.web.LedgeServlet</servlet-class>
	</servlet>
  
    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>org.objectledge.web.ContentServlet</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>ledge</servlet-name>
		<url-pattern>/ledge/*</url-pattern>
	</servlet-mapping>
	    
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- Added for XHTML support -->
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<!-- -->
</web-app>
