/** HTML area components */
.form-tool-htmlarea-popup {
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

.form-tool-htmlarea-toolbar,
.form-tool-htmlarea-popup,
.form-tool-htmlarea-toolbar img,
.form-tool-htmlarea-toolbar button {
  background-color: #EEFFBB;
}

.form-tool-htmlarea-popup-head {
  background-color: #DDEEAA;
}

.form-tool-htmlarea-area {
  padding: 5px;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

hr.page-break {
    border: none;
    background-color: transparent;
    height: 1px;
    border: red 1px dashed;
}

.form-tool-htmlarea-toolbar,
.form-tool-htmlarea-popup {
    padding: 5px;
}

.form-tool-htmlarea-toolbar {
    border-bottom: none;
}

.form-tool-htmlarea-toolbar img,
.form-tool-htmlarea-toolbar button,
.form-tool-htmlarea-toolbar select {
    margin-bottom: 1px;
    padding: 0px;
    vertical-align: middle;
}

.form-tool-htmlarea-toolbar button {
    font-weight: bold;
}

.form-tool-htmlarea-area,
.form-tool-htmlarea-toolbar,
.form-tool-htmlarea-popup,
.form-tool-htmlarea-toolbar img,
.form-tool-htmlarea-toolbar button,
.form-tool-htmlarea-toolbar select {
    border: solid 1px #646565;
}

/** Other form elements. */
/*button,
input,
textarea,
select {
    border: solid 1px rgb(120,120,120);
}*/

/*button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
    background-color: rgb(220,220,220);
}*/

/** Special appearance classes. */
.formtool-required {
    background-color: rgb(255,150,150);
    border: solid 2px rgb(255,50,50);
}
.formtool-required-value {
    border: solid 2px rgb(255,50,50);
}

.formtool-alert {
    background-color: rgb(255,150,150);
    font-weight: bold;
    font-size: 80%;
    /*color: rgb(255,50,50); */
}

.formtool-label {
    width: 150px;
    font-weight: bold;
    font-size: 80%;
    text-align: right;
}

.formtool-hint {
    width: 20px;
}

/** Groups */
.formtool-page {
}

.formtool-group-head-1,
.formtool-group-head-2,
.formtool-group-head-3 {
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #AAAAAA;
  border-right: 1px solid #646565;
  border-bottom: 1px solid #646565;
}

.formtool-group-head-1 {
  font-size: 14px;
  background-color: #DDEEAA;
}

.formtool-group-head-2 {
  font-size: 12px;
  background-color: #EEFFBB;
}

.formtool-group-head-3 {
  font-size: 10px;
}

/** - - - - - - - - - - - - - - - - */
.formtool-table {
}

.formtool-table td {
}

