/*
 TYPE: CSS
 NAME: CSS for cyklotron CMS component wrapper
 AUTHOR: <a href="mailto:zwierzem@ngo.pl">Damian Gajda</a>
 VER: $Id: cms-component-wrapper.css,v 1.1 2005-01-28 02:44:52 pablo Exp $
 STATUS: in progress
 TODO:
*/

/** CMS component wrapper classes. */

/* menus */
.cms-component-wrapper-popupmenubutton,
.cms-component-wrapper-popupmenu {
    background-color: white !important;
    color: black  !important;
    border: 1px black solid;
    padding: 2px;
    font-size: 10px;
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif  !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.cms-component-wrapper-popupmenu {
    font-weight: normal;
    position: absolute;
    visibility: hidden;
    padding: 1px;
    color: black;
    z-index: 10000;
}

.cms-component-wrapper-popupmenu a {
    text-decoration: none;
    color: black !important;
    display: block;
    padding: 3px;
    margin: 1px;
}

.cms-component-wrapper-popupmenu a:hover {
    color: black;
    background-color: rgb(247,222,9);
}

/* component */
.cms-component-wrapper-errors,
.cms-component-wrapper-layout-preview {
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
}

.cms-component-wrapped-component {
    border: grey 2px ridge;
}

.cms-component-wrapper-errors {
    background-color: white;
    color: red;
    border: red 2px dashed;
    padding: 4px;
    font-size: 8pt;
    font-weight: bold;
}

.cms-component-wrapper-layout-preview {
    background-color: white;
    border: black 1px solid;
    padding: 4px;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

/* CMS edit mode toolbar */
.cms-edit-mode-toolbar {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(189,0,0);
    color: black;
}

.cms-edit-mode-toolbar td {
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
}

.cms-edit-mode-toolbar a {
    color: rgb(189,0,0);
    text-decoration: none;
}

.cms-edit-mode-toolbar a:hover {
    color: rgb(247,222,9);
}

