/*
    $Id: layout.css,v 1.1 2005-01-28 02:44:59 pablo Exp $
*/
@media screen {


/* basics */
body {
    margin: 0;
    padding: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * layout classes and ids
 */

/* breadcrumb container */
.searchbox {
    float: right;
}

.searchbox form,
.searchbox p {
    margin: 0;
}

/* top container */
#top-container {
    position: relative;
    background-color: rgb(229,229,229);
}

#address {
    position: absolute;
    top: 9px;
    right: 10px;
    text-align: right;
}

/* pic container */
#pic-container {
    height: 50px;
    background: url('images/niebo.jpg');
    background-repeat: repeat-y;
    background-color: rgb(14,73,103);
}

/* navi container */
#navi-container {
    padding: 0;
    background-color: rgb(229,229,229);
}

#navi-container ul {
    margin: 0;
    margin-left: 16px;
    padding: 0;
}

#navi-container ul li {
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#navi-container li a {
    border-left: 2px solid rgb(190,190,190);
    color: black;
    text-decoration: none;
    padding: 0;
    padding-left: 6px;
    padding-right: 8px;
    margin: 0;
}

#navi-container li a.navi-current-path {
    border-left: 2px solid black;
    color: gray;
}

#navi-container li a.navi-current-page {
    border-left: 2px solid black;
    background-color: black;
    color: white;
}


#navi-container li a:hover {
    border-left: 2px solid black;
    color: gray;
}

/* mid container */
#mid-container {
    position: relative;
    margin:0;
    margin-left:16px;
}

#content-area {
    margin:0;
    width:65%;
    border-left: 2px solid rgb(150,150,191);
}

#additions-area {
    position: absolute;
    margin-top:1em;
    right:16px;
    width:32%;
}

/* bottom */
#bot-container {
    float:left;
    width: 100%;
}

#bot-navigation {
    padding: 0;
    background-color:  rgb(191,0,0);
    font-family: "Andale Mono", "Lucida Console", monospaced;
    color: white;
    font-size:80%;
}

#bot-navigation ul {
    margin: 0;
    margin-left: 16px;
    border-left: 2px solid white;
    padding: 4px 8px;
}

#bot-navigation ul li {
    display: inline;
    margin-right: 4px;
    padding: 0;
}

#bot-navigation a {
    text-decoration: none;
    color: white;
}

#bot-navigation li a.navi-current-path {
    color: yellow;
}

#bot-navigation li a.navi-current-page {
    color: black;
}


#bot-navigation a:hover {
    color: rgb(190,190,190);
}

#bot-navigation .back2top {
    float: right;
    padding: 4px 8px;
}

}
