/*
    $Id: print.css,v 1.1 2005-01-28 02:44:59 pablo Exp $
*/
@media print {

/* basics */
body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", "CG Times", serif;
}

h1, h2, h3, h4, h5 {
    margin-top: 1em;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.content {
    padding:0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * layout classes and ids
 */

/* breadcrumb container */
.searchbox {
    display: none;
}

/* top container */
#top-container {
    position: relative;
}

#address {
    position: absolute;
    top: 10px;
    left: 50%;
    width:49%;
    text-align: right;
}

/* pic container */

/* navi container */
#navi-container {
    display: none;
}

/* mid container */
#mid-container {
    padding:0;
    margin:0;
}

#additions-area {
    display: none;
}

/* bottom */
#bot-container {
    display: none;
}

}
