<?xml version="1.0"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>org.objectledge.web.LedgeServletContextListener</listener-class>
    </listener>

    <!-- 
         context parameter named "root" may be used to select local filesystem root directory 
         when not defined, work area assigned by the servlet container will be used instead.
    -->

    <context-param>
        <description>LedgeContainer config path</description>
        <param-name>configPath</param-name>
        <param-value>/config</param-value>
    </context-param>

    <servlet>
        <servlet-name>ledge</servlet-name>
        <servlet-class>org.objectledge.web.LedgeServlet</servlet-class>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>cmsDispatcher</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>org.objectledge.web.ContentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.objectledge.web.LedgeServlet</servlet-class>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>restDispatcher</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ledge</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ledge</servlet-name>
        <url-pattern>/x/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ledge</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>rewrite</filter-name>
        <filter-class>org.objectledge.web.LedgeRewriteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>rewrite</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

</web-app>
